Synopsis Samples/synopsis1&2.pdf
Synopsis Samples/second synopsis.docx
Synopsis Samples/Project Report.pdf
Synopsis Samples/Final.report.pdf
Synopsis Samples/FINAL REPORTS-charan.pdf
Synopsis Samples/1623510105196_Final report.docx
Synopsis Samples/27501880509 - Synopsis 1 & 2.pdf
Synopsis Samples/27501880509 - Synopsis 1 & 2.docx
Synopsis Samples/27501880509 - Final.report.pdf
Synopsis Samples/27501880509 - Final Report.docx
Synopsis Samples/.~lock.27501880509 - Final Report.docx#
__pycache__/KISS.cpython-38.pyc
__pycache__/Changes.cpython-38.pyc
__pycache__/Admin.cpython-38.pyc
Synopsis Samples/1623510105196_Final report - Cia.docx
Synopsis Samples/Final.report- aashima.pdf
Synopsis Samples/second synopsis - Cia.docx
Synopsis Samples/synopsis1&2 - sayida.pdf
Synopsis Samples/Akshat Arora/27501880509 - Final Report.docx
Synopsis Samples/Akshat Arora/27501880509 - Final.report.pdf
Synopsis Samples/Akshat Arora/27501880509 - Synopsis 1 & 2.docx
Synopsis Samples/Akshat Arora/27501880509 - Synopsis 1 & 2.pdf
Synopsis Samples/Akshat Arora/Final Project Report - unedited.pdf
Synopsis Samples/Akshat Arora/Final Project Report.pdf